@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&family=Teko:wght@300&display=swap");

body {
  background: black;
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: 300 bc it is the smallest;
}

.db-title {
  font-family: "Teko", sans-serif;
  font-size: 80px;
  background-color: red;
  color: white;
  text-align: center;
  border: solid red 2px;
}

.db-subheading {
  font-family: "Karla", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  border: solid red 2px;
}

.btn {
  background-color: red;
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  border: solid purple 2px;
}

.btn:hover {
  background-color: purple;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  border: solid white 2px;
}

.hero {
  background-color: lightgrey;
  /* opacity: 0.2; */
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  border: solid red 2px;
}

.hero .hero-img-container {
  background-color:black;
  width: 200px;
  height: 200px;
}

.hero .hero-img-container img {
  max-width: 150px;
}

.hero .hero-info {
  font-family: "Karla", sans-serif;
  background-color: rgba(163, 11, 223, 0.1);
  margin-top: 10px;
  /* padding: 5px 10px; */
  color: black;
  border: solid red 2px;
}

.hero .hero-info .hero-name {
  font-size: 40px;
  font-weight: 500;
  /* margin: 15px 0 7px; */
  margin-top: 20px;
  letter-spacing: 1px;
  /* border: solid lime 2px; */
}

.hero .hero-info .hero-alias {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: -10px;
  /* border: solid lime 2px; */
}

.hero .hero-info .hero-status {
  font-size: 20px;
  font-weight: 300;
  background-color: black;
  color: white;
  padding: 10px 10px;
  margin-top: -30px;
  /* border: solid lime 2px; */
}
